<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body id="main-page">
    <div>
        <h1>WEB-PAGE
            The Main Page
        </h1>
    </div>
    <div>
        <img src="/public/images/workplace_background_computer_screen_keyboard_mouse_icons_decor_6838749.jpg" alt="">
    </div>
</body>
</html>